<%- include('../header') -%>
<h2 class="title">Create Module</h2>

<form class="form-control" method="post">
  <label for="title">Title:</label>
  <input
    id="title"
    name="title"
    placeholder="What's the name module?"
    required="required"
  /><br />

  <label for="course">Course:</label>
  <select id="course" name="course" required="required">
    <option value="">--</option>

    <% for (const {id, title} of courses) {%>
    <option value="<%=id%>"><%=title%></option>
    <% } %>
  </select>
  <br />

  <button type="submit">Submit</button>
</form>
<%- include('../footer') -%>
