<%- include('../header') -%>

<h1>Are you sure to delete?</h1>

<form method="post">
  <button type="submit">Yes</button>
  <button type="button" onclick="window.history.back()">No</button>
</form>

<%- include('../footer') -%>
