<%- include('../header') -%>
<h2 class="title">View Module</h2>
<table>
    <tr>
        <th>Id</th>
        <td>1</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>Numbers</td>
    </tr>
    <tr>
        <th>Course</th>
        <td>Introduction to Algorithms</td>
    </tr>
</table>
<%- include('../footer') -%>