<%- include('../header') -%>
<h2 class="title">View Lesson</h2>

<table>
    <tr>
        <th>Id</th>
        <td>1</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>Digits</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>Digits in base 10 can be obtained by using modulo...</td>
    </tr>
    <tr>
        <th>Module</th>
        <td>Numbers</td>
    </tr>

    <tr>
        <th>Next Lesson</th>
        <td>Reverse Number</td>
    </tr>
</table>
<%- include('../footer') -%>