<%- include('../header') -%>
<h2 class="title">Create Course</h2>

<form class="form-control" action="../list/course.html">
    <label for="title">Title:</label>
    <input name="title" id="title" placeholder="What's the name of the course?" required="required"><br>

    <label for="description">Description:</label>
    <input name="description" id="description" placeholder="Tell more about the course ... " required="required"><br>

    <label for="launch_date">Launch Date:</label>
    <input name="launch_date" id="launch_date" placeholder="When's the course is launched" required="required"><br>

    <button type="submit">Submit</button>
</form>
<%- include('../footer') -%>