<%- include('../header') -%>
<h2 class="title">List of Courses</h2>
<a class="create-button" href="/course/create">Create Course</a>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Launch Date</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Introduction to Algorithms</td>
    <td>Aug 30, 2022</td>
    <td>
      <a href="/course/view/" class="view button">View</a>
      <a href="/course/edit/" class="edit button">Edit</a>
      <a href="/course/delete/" class="delete button">Delete</a>
    </td>
  </tr>
  <tr>
    <td>2</td>
    <td>Basics of Python Prorgamming</td>
    <td>Apr 12, 2021</td>
    <td>
      <a href="/course/view/" class="view button">View</a>
      <a href="/course/edit/" class="edit button">Edit</a>
      <a href="/course/delete/" class="delete button">Delete</a>
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>The Go Programming Language</td>
    <td>Jun 03, 2021</td>
    <td>
      <a href="/course/view/" class="view button">View</a>
      <a href="/course/edit/" class="edit button">Edit</a>
      <a href="/course/delete/" class="delete button">Delete</a>
    </td>
  </tr>
  <tr>
    <td>4</td>
    <td>Moderd DevOps with AWS</td>
    <td>Oct 19, 2021</td>
    <td>
      <a href="/course/view/" class="view button">View</a>
      <a href="/course/edit/" class="edit button">Edit</a>
      <a href="/course/delete/" class="delete button">Delete</a>
    </td>
  </tr>
</table>
<%- include('../footer') -%>