<%- include('../header') -%>
<h2 class="title">View Course</h2>

<table>
    <tr>
        <th>Id</th>
        <td>1</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>Introduction to Algorithms</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>Learn about data structures, search algorithms, recursion</td>
    </tr>
    <tr>
        <th>Launch Date</th>
        <td>Aug 30, 2022</td>
    </tr>
</table>
<%- include('../footer') -%>